.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__payment{
    color: rgb(0, 118, 0);
}

.form__payment::after{
    content: "";
    width: 50vw;
    height: 5px;
    background-color: rgb(161, 160, 160);
    display: block;
}

.form__button_wrapper{
    display: flex;
    justify-content: flex-end;
}

.form__button{
    background-color: rgb(0, 118, 0);
    border: 1px solid rgb(0, 118, 0);
    color: antiquewhite;
    height: 40px;
    width: 175px;
}
