.helpbar{
    border: 1px solid rgba(211, 211, 211, 0.57);
    height: 60px;
    background-color: rgba(211, 211, 211, 0.57);
    align-items: center;
    display: flex;
    justify-content: center;
}


