.t-shirts{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.t-shirts__item-card{
    padding: 40px;
}
.t-shirts__list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

